.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 787px;
}

.u-section-1 .u-shape-1 {
  width: 371px;
  height: 371px;
  margin: 386px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 487px;
  height: 368px;
  margin: -727px 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 997px;
  margin: -270px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 530px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 300;
  margin: 95px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  background-image: none;
  margin: 30px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 530px;
  background-image: url("images/54e9dd414855ac14f6da8c7dda793678153bdee757596c48732f73d7974ac158bb_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 0 20px;
}

.u-section-1 .u-text-3 {
  margin: 487px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-1 .u-shape-1 {
    width: 324px;
    height: 331px;
    margin-top: 51px;
  }

  .u-section-1 .u-shape-2 {
    width: 470px;
    height: 337px;
    margin-top: -656px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 880px;
    margin-bottom: -185px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 484px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 82px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-1 .u-shape-1 {
    width: 278px;
    height: 294px;
    margin-top: 46px;
    margin-left: -36px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -552px;
    margin-right: -38px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -268px;
    margin-bottom: -138px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 347px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-1 .u-shape-1 {
    width: 424px;
    height: 367px;
    margin-top: 47px;
    margin-left: -32px;
  }

  .u-section-1 .u-shape-2 {
    width: 457px;
    height: 316px;
    margin-top: 215px;
    margin-right: -39px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -824px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 140px;
    padding-left: 20px;
  }

  .u-section-1 .u-image-1 {
    min-height: 538px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-1 .u-shape-1 {
    width: 323px;
    height: 289px;
    margin-top: 39px;
    margin-left: -33px;
  }

  .u-section-1 .u-shape-2 {
    width: 299px;
    height: 215px;
    margin-top: 130px;
    margin-right: -34px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -603px;
    margin-bottom: 107px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 322px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 1490px;
}

.u-section-2 .u-text-1 {
  width: 817px;
  line-height: 0.8;
  font-family: Livvic;
  font-size: 6rem;
  margin: 60px calc(((100% - 1140px) / 2) + 162px) 0;
}

.u-section-2 .u-text-2 {
  width: 817px;
  font-size: 1.25rem;
  margin: 40px calc(((100% - 1140px) / 2) + 162px) 0;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 704px);
  height: 788px;
  margin: 181px 0 0 auto;
}

.u-section-2 .u-shape-2 {
  width: 843px;
  height: 958px;
  margin: -943px auto 0 calc(((100% - 1140px) / 2) + -60px);
}

.u-section-2 .u-list-1 {
  min-height: 1004px;
  grid-template-columns: calc(50% - 9px) calc(50% - 9px);
  width: 654px;
  grid-gap: 18px 18px;
  height: auto;
  margin: -922px auto 60px calc(((100% - 1140px) / 2) + 243px);
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  margin: 31px auto 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  margin: 31px auto 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 31px auto 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-text-10 {
  margin: 31px auto 0 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px;
}

.u-section-2 .u-icon-5 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-text-12 {
  margin: 31px auto 0 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-icon-6 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-text-14 {
  margin: 31px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 1062px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-2 .u-shape-1 {
    width: 784px;
    height: 680px;
    margin-top: 378px;
    margin-right: calc(((100% - 1140px) / 2) + 67px);
  }

  .u-section-2 .u-shape-2 {
    width: 849px;
    margin-top: -1008px;
    margin-left: calc(((100% - 1140px) / 2) + 146px);
  }

  .u-section-2 .u-list-1 {
    min-height: 692px;
    width: 557px;
    margin-top: -1503px;
    margin-left: calc(((100% - 1140px) / 2) + 292px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: 720px;
    margin-top: 75px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-shape-1 {
    height: 839px;
    margin-top: 973px;
    margin-right: calc(((100% - 1140px) / 2) + 146px);
  }

  .u-section-2 .u-shape-2 {
    width: 720px;
    margin-top: -1603px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-2 .u-list-1 {
    min-height: 1302px;
    grid-template-columns: 100%;
    width: 377px;
    margin-top: -874px;
    margin-left: calc(((100% - 1140px) / 2) + 382px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
    font-size: 3.75rem;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
    margin-right: calc(((100% - 1140px) / 2) + 260px);
  }

  .u-section-2 .u-shape-2 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-2 .u-list-1 {
    width: 341px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
    font-size: 3rem;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 1140px) / 2) + 740px);
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: url("images/-min.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1088px;
}

.u-section-3 .u-text-1 {
  font-family: Livvic;
  font-weight: 700;
  margin: 60px auto 0 0;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  min-height: 474px;
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  grid-gap: 30px 30px;
  margin: 43px auto 0;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 3px 182px 0 60px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: -64px auto 0;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 17px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 40px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 2.25rem;
  margin: 3px 182px 0 60px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: -64px auto 0;
}

.u-section-3 .u-text-6 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 17px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 40px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  font-size: 2.25rem;
  margin: 3px 182px 0 60px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: -64px auto 0;
}

.u-section-3 .u-text-9 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 17px 0 0;
}

.u-section-3 .u-text-10 {
  margin: 40px 0 0;
}

.u-section-3 .u-group-1 {
  width: 1617px;
  background-image: none;
  min-height: 228px;
  height: auto;
  margin: 50px -477px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-11 {
  font-size: 1.5rem;
  margin: 10px auto 0 43px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 20px auto 0 442px;
  padding: 11px 50px 11px 49px;
}

.u-section-3 .u-icon-4 {
  font-size: 1.3em;
}

.u-section-3 .u-text-12 {
  margin: 141px -58px 15px 1047px;
}

.u-section-3 .u-btn-2 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 820px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1147px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    min-height: 391px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 42px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 42px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 42px;
  }

  .u-section-3 .u-group-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 24px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    width: 151px;
    margin-left: 947px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1059px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    min-height: 898px;
    grid-template-columns: repeat(2, calc(50% - 15px));
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 18px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 837px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 839px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 14px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 747px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 595px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 9px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 647px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 385px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 982px;
  margin: 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 237px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  font-family: Livvic;
  line-height: 1.4;
  margin: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 237px;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-4 .u-text-2 {
  letter-spacing: 4px;
  line-height: 1.6;
  font-weight: 500;
  font-size: 1.25rem;
  margin: 42px 0 0 118px;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.25rem;
  background-image: none;
  border-style: none;
  margin: 20px 0 0 auto;
  padding: 2px 17px 2px 16px;
}

.u-section-4 .u-icon-1 {
  font-size: 2.5em;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 97px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.0625rem;
  }
}